*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    /* font-family: 'Times New Roman', Times, serif; */
    /* display: flex; */
}

.body-cart {
    /* background-color: none ; */
    position: fixed;
    height: 100vh;
    width: 100%;
}

/* CART SIDEBAR */

#CartDrawer {
    background-color: #c2c2c2;
}

.cart-sidebar {
    /* max-height: 600px; */
    position: fixed;
    width: 340px;
    top: 0 !important;
    bottom: 0;
    background-color: #E2E2E2;
    overflow: hidden;
    z-index: 999999;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
    touch-action: manipulation;
    right: 0;
}

.cart-sidebar.active {
    visibility: visible;
    transform: translateX(0);
}

.cart-sidebar .cart_heading {
    padding: 15px 15px;
    display: block;
    position: relative;
}

.cart-sidebar .cart_heading .cart_title {
    margin-bottom: 0;
    text-align: left;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
}

.cart-sidebar .cart_heading .cart_btn-close {
    position: absolute;
    margin-left: 0;
    right: 15px;
    top: 18px;
    line-height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    z-index: 999;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.cart-sidebar .cart_heading .cart_btn-close svg {
    width: 15px;
    height: 15px;
    stroke-width: 1.5px;
}

.cart-sidebar .drawer__inner {
    width: 100%;
    height: 100%;
    background: #E2E2E2;
}

.cart-sidebar .cart_body {
    max-height: 600px;
    padding: 15px;
    /* height: calc(100vh - 100px); */
    overflow-y: auto;
}

.cart-sidebar .cart_body .cart_product {
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%;
}

.cart-sidebar .cart_body .cart_image {
    display: table-cell;
    width: 24%;
    vertical-align: top;
    position: relative;
}

.cart-sidebar .cart_body .cart_info {
    padding-left: 15px;
    vertical-align: top;
}

.cart-sidebar .cart_body .cart_info .cart_name {
    margin-bottom: 5px;
}

.cart-sidebar .cart_body .cart_info .cart_name p {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    display: block;
}

.cart-sidebar .cart_body .cart_info .variant-title {
    display: block;
    font-size: 12px;
}

.cart-sidebar .cart_body .grid {
    display: flex;
}

.cart-sidebar .cart_body .grid .cart_item_name {
    width: 50%;
}

.cart-sidebar .cart_body .grid .cart_item_name .cart_quantity {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    color: #333;
}

.cart-sidebar .cart_body .cart_select button {
    text-align: center;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    border-color: #e5e5e5;
    color: #222;
    line-height: 26px;
    padding: 0;
    margin: 0;
    width: 28px;
    background-color: #fff;
    height: 28px;
    float: left;
}

.cart-sidebar .cart_body .cart_select input {
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius: 0;
    width: 35px;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    color: #222;
    height: 28px;
    font-size: 14px;
    margin: 0;
    float: left;
    border-left: none;
    border-right: none;
}

.cart-sidebar .cart_body .grid .cart_prices {
    width: 50%;
    text-align: right;
}

.cart-sidebar .cart_body .grid .cart_prices .cart-price {
    font-weight: bold;
    display: block;
    font-size: 14px;
    color: red;
    text-align: end;
}
.cart-sidebar .cart_body .grid .cart_prices .cart-delete {
    font-weight: bold;
    display: block;
    text-decoration: UNDERLINE;
    font-size: 14px;
    color: red;
    text-align: end;
}

.cart-sidebar .cart_body .grid .cart_prices .cart-delete:hover {
    cursor: pointer;
}

.cart-sidebar .cart_body .grid .cart__btn-remove {
    font-size: 13px;
    color: #30656b;
}

.cart-sidebar .ajaxcart__footer {
    padding: 10px;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__col-6 {
    width: 50%;
    float: left;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle {
    width: 50%;
    float: left;
    text-align: right;
}

.cart-sidebar .ajaxcart__footer .cart__subtotal .cart__totle .total-price {
    color: red;
    font-weight: bold;
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt {
    display: block;
    position: relative;
    padding-top: 0;
}

.cart-sidebar .ajaxcart__footer .cart__btn-proceed-checkout-dt button {
    width: 100%;
    background-color: #3f3fdb;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border: initial;
}